<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <title>ToDo List</title>
</head>

<body>
  <div class="title">
    <h1><%= actualDate %></h1>
  </div>

  <div class="list">
    <% newListItems.forEach(function(item) { %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" onchange="this.form.submit()">
        <p> <%= item.name %> </p>
      </div>
    </form>
    <%  }) %>
    <form action="/" method="post">
      <div class="item">
        <input type="text" name="newItem" placeholder="New item" autocomplete="off">
        <button class="addBtn" type="submit" name="button">+</button>
      </div>
    </form>
  </div>

  <div class="footer">
    <footer>
      <p>Made by: ArNeto19</p>
    </footer>
  </div>

</body>

</html>
